#backgroundVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

html {
  font-family: 'Helvetica Neue', sans-serif;
}

.hiddenGreeting {
  display: none;
}

.container {
  width: 70%;
  margin-left: 15%;
  display: grid;
  margin-top: 10%;
  grid-template-columns: 25% 75%;
}

.linkCardRow {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.infoCardRow {
  display: grid;
  grid-template-columns: 50% 50%;
}

.linkCard {
  width: 80%;
  margin-left: 10%;
  background-color: #ebebeb;
  height: auto;
  border-radius: 10px;
  -webkit-box-shadow: -5px 5px 20px 5px rgba(0,0,0,0.25);
  box-shadow: -5px 5px 20px 5px rgba(0,0,0,0.25);
}

.linkCard ul {
  list-style-type: none;
  line-height: 2;
  font-size: 1.5rem;
  text-align: center;
  margin:0;
  padding: 1rem 0;
}

.linkCard i {
  font-size: 3rem;
}

.linkCard li {
  margin:0;
  padding:0;
}

.linkCard a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  padding-bottom: 5px;
}

a.middleUnderline {
  position: relative;
}

a.middleUnderline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}

a.middleUnderline:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

#clock {
  font-size: 7rem;
  text-align: center;
  color: #1f1e1e;
  font-weight: bold;
  padding: 3rem 0 5rem;
}
