body, html {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.video-container{
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

iframe {
  position: absolute;
  top: 60%;
  left: 60%;
  width: 100vw;
  height: 100vh;
  transform: translate(-60%, -60%);
}

@media (min-aspect-ratio: 16/9) {
  .video-container iframe {
    /* height = 100 * (9 / 16) = 56.25 */
    height: 56.25vw;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-container iframe {
    /* width = 100 / (9 / 16) = 177.777777 */
    width: 177.78vh;
  }
}

.mainCard {
  width: 70%;
  background-color: #5b6230;
  opacity: .9;
  z-index: 1000;
  color: #fff;
  padding: 2em 3em;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

@media screen and (min-width: 1921px) {
  .mainCard {
    width: 50%;
  }
}

.infoHeader p {
  width: 300px;
  font-size: 1.25em;
  margin: .75em 0;
}

#time {
  text-align: left;
}

#greeting {
  text-align: center;
}

#headerDate {
  text-align: right;
}

.linkRow h4 {
  color: #E7D27C;
  font-weight: bold;
}

.linkItem {
  text-decoration: none;
}

.linkItem i {
  font-size: 2.25em;
  padding: .2em 0;
  color: #fff;
}

.siteTitle {
  font-size: 1.25em;
  padding: 0 .75em;
  font-weight: bold;
  color: #fff;
  text-decoration: none
}

.siteLink {
  color: #E7D27C;
  text-decoration: none;
  font-size: 0.80em;
}

.siteTitle:hover {
 text-decoration: none;
 color: #fff;
}

.siteLink:hover {
  text-decoration: none;
  color: #E7D27C;
}

.linkRow h4 {
  margin: .125em 0em;
}
