html {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: 'Fira Sans', sans-serif;
  color: #fff;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.quoteRow {
  margin: 7.5% 4% 5%;
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
  display: inline-block;
  flex-wrap: wrap;
}

#quote {
  width: max-content;
}

#quoteAuthor {
  padding-left: .25em;
  width: max-content;
  font-weight: 300;
  font-style: italic;
  color: #bdbdbd;
}

.container {
  width: 90%;
  margin-left: 5%;
  margin-top: 30%;
}

@media screen and (max-height: 900px) {
  .container {
    margin-top: 7.5%;
  }
  .quoteRow {
    display: none;
  }
}

@media screen and (min-width: 1080px) {
  .container {
    width: 60%;
    margin-left: 20%;
    margin-top: 0;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    width: 40%;
    margin-top: 7.5%;
    margin-left: 30%;
  }
}


.welcome {
  margin: 7.5% 4% 0%;
  font-size: 7.5em;
  text-align: center;
}

.topRow {
  margin: 5% 4% 5%;
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.cardRow {
  display: grid;
  grid-template-columns: 33% 34% 33%;
}

.col-4 {
  background-color: rgba(0,0,0,0.3);
  width: 80%;
  margin-left: 10%;
  border-radius: 25px;
}

.linkList {
  list-style-type: none;
  line-height: 3em;
  padding: 0;
  text-align: center;
}

.linkItem a {
  color: #bdbdbd;
  text-decoration: none;
  font-size: 1.5em;
}

.linkItem a:hover {
  text-decoration: none;
  color: #fff;
  transition-duration: .2s;
}

.hiddenGreeting {
  display: none;
}
